<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="4">角色名称</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input placeholder="请输入角色名称" formControlName="name"/>
      <nz-form-explain *ngIf="validateForm.get('name')?.dirty && validateForm.get('name')?.errors">
        请输入角色名称
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="4">备注</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <textarea formControlName="remark" nz-input rows="2" placeholder></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSpan]="14" [nzOffset]="4">
      <button [nzLoading]="buttonLoading" nz-button nzType="primary">提交</button>
      <button nz-button (click)="resetForm($event)" *ngIf="isAdd">重置</button>
    </nz-form-control>
  </nz-form-item>
</form>
